body{
    margin: 0;
    background: linear-gradient(#999, #333);
}
#container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    min-width: 750px;
    min-height: 100vh;
    margin:0 auto;
    background-color: #f5f5f5;
    #head {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: flex-end;
        height: 220px;
        background-color: #666;
        #photo {
            width: 200px;
            height: 200px;
            border: solid 6px #ccc;
            border-radius: 50%;
            background-image: url(img/photo/myphoto.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .content{
        width: 80%;
        .zag {
            background-color:#666;
            text-align: center;
            border: 3px solid #ccc;
            border-radius: 10px;
        }
    }
    .footer{ 
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
        align-items: center;
        height: 150px;
        background-color: #666;  
        
    }
}
#head, .zag, .footer {
    color: #ccc;
    text-shadow: 3px 3px #333;
}
ul{
    list-style: none ;
}

ul>li {
    margin-bottom: 10px;
}

.contentList > li{
    list-style-type: square;
    height: 12px;
}

.contentList > li::marker {
    color: #666;
    font-size: 40px;
    border: 1px solid #999;
    
}

.icon {
    max-width: 30px;
    max-height: 30px;
    margin-right: 10px;
}

.myGit, .logo {
    background-color: #999;
    width: 120px;
    height: 60px;
    border: 4px solid #333;
    border-radius: 50px;
}

.myGit > span {
    display: block;
    margin: 10% auto auto 10%;
    width: 100%;
    height: 100%;
    font-size: 20pt;
    color: #333;
    text-shadow: none;
}

.logo {
    background-image: url(img/image/rs_school_js.svg);
    background-position: center;
    background-repeat: no-repeat;
    /*background-size: cover;*/
    background-size: 80%;
}