body {
    background: radial-gradient(circle, rgba(242,156,25,1) 0%, rgba(242,48,10,1) 35%);    
    margin: 0;
}
div {
    width: 99%;
    
    margin: 30% auto auto auto;
}
div p{
    position: relative;
    top: 50%;
    left: 40%;
    color: blue;
    font-size: 3em;
}