* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
%whiteText{
    color: white;    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
%blackText{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}
body{
    display: flex;
    align-items: stretch;
    
}
.leftSpace, .rightSpace{
    flex: 1 1 auto;
}
.giantPanda{
    position: absolute;
}
.content{    
    width: 1600px; 
    position: relative;   
    .menu{        
        background-color: black;        
        position: absolute;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-width: 1600px;
        height: 80px;
        .logo{
            @extend %whiteText;   
            font-weight: 200;
            font-size: 18px;
            line-height: 130%;         
            width: 82px;
            height: 52px;
            
            border: 1.18841px solid #FFFFFF;
            border-radius: 2px;
            text-align: center;  
            margin-left: 90px; 
            position: relative;            
        }
    } 
    .logo img{
        position: absolute;
        left: 10px;
        bottom: 8px;
    }
    ul{
        position: relative;            
        left: -220px;
        
        display: flex;
        width: 550px;
        justify-content: space-around;
    }
    li{
        list-style: none;
    }  
    a{            
        text-decoration: none;
        @extend %whiteText;
    }
    a:hover{
        color: #F9804B;
    }       
    .copyright{
        @extend %whiteText;
        position: relative;
        left: -84px;
    }
}        
.circle{
    position: absolute;
    width: 465px;
    height: 465px;
    left: calc(50% - 465px/2 + 239.5px);
    top: 92px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 50%;
}
.ads{        
    @extend %whiteText;
    text-align: center;
    position: absolute;
    width: 500px;
    height: 400px;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px;

    font-weight: 500;
    font-size: 106.496px;
    line-height: 75%;
    /* or 80px */

    text-align: center;
    text-transform: uppercase;

            
}
@-moz-document url-prefix() {
    .ads{        
        
        position: absolute;
        width: 500px;
        height: 400px;
        left: calc(50% - 500.31px/2 + 330.15px);
        top: 166px;
    
        font-weight: 550;
        font-size: 105px;
        line-height: 75%;
        /* or 80px */
    
        text-align: center;
        text-transform: uppercase;
    
                
    }   
}

.ads span{
    color: #FFEE2E;
}
.onlineLink{
    @extend %whiteText;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    border: none;
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2 + 332px);
    top: 626px;

    /* orange */

    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
}
.onlineLink:hover{
    background: linear-gradient(113.96deg, #fa7b44 1.49%, #ff8d0b 101.44%);
    border-radius: 25px;
    cursor: pointer;
}
.cap{
    @extend %blackText;
    position: absolute;
    display:inline-flex;
    flex-direction: row;
    height: 403px;
    left: 219px;
    right: 220px;
    top: 920px;
    div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 465px;
        margin-left: 85px;
    }
    .str1{
        font-weight: 400;
        font-size: 48px;
        line-height: 120%;
    }
    .str2{
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
    }
    .str3{
        font-weight: 400;
        font-size: 24px;
        line-height: 120%;
    }
    .str4{
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
    }
}
.flower{
    position: absolute;
    width: 208px;
    height: 605px;
    left: 1396px;
    top: 792px;

    background: url(/online-zoo/online-zoo/assets/images/flower_foto1.png);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
#choice{
    display: grid;
    position: absolute;
    width: 1158px;
    height: 872px;
    left: calc(50% - 1158px/2 - 1px);
    top: 1503px;

    background: #FFFFFF;
}