* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.chButton, .onlineLink, .ads, .content .copyright, .content a, .content .menu .logo {
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.pic div .pff, body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

body {
  display: flex;
  align-items: stretch;
}

.leftSpace, .rightSpace {
  flex: 1 1 auto;
}

.giantPanda {
  position: absolute;
}

.content {
  width: 1600px;
  position: relative;
}
.content .menu {
  background-color: black;
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 1600px;
  height: 80px;
}
.content .menu .logo {
  font-weight: 200;
  font-size: 18px;
  line-height: 130%;
  width: 82px;
  height: 52px;
  border: 1.18841px solid #FFFFFF;
  border-radius: 2px;
  text-align: center;
  margin-left: 90px;
  position: relative;
}
.content .logo img {
  position: absolute;
  left: 10px;
  bottom: 8px;
}
.content ul {
  position: relative;
  left: -220px;
  display: flex;
  width: 550px;
  justify-content: space-around;
}
.content li {
  list-style: none;
}
.content a {
  text-decoration: none;
}
.content .about {
  color: #F9804B;
}
.content .copyright {
  position: relative;
  left: -84px;
}

.circle {
  position: absolute;
  width: 465px;
  height: 465px;
  left: calc(50% - 232.5px + 239.5px);
  top: 92px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
}

.ads {
  text-align: center;
  position: absolute;
  width: 500px;
  height: 400px;
  left: calc(50% - 250.155px + 330.15px);
  top: 166px;
  font-weight: 500;
  font-size: 106.496px;
  line-height: 75%;
  /* or 80px */
  text-align: center;
  text-transform: uppercase;
}

@-moz-document url-prefix() {
  .ads {
    position: absolute;
    width: 500px;
    height: 400px;
    left: calc(50% - 250.155px + 330.15px);
    top: 166px;
    font-weight: 550;
    font-size: 105px;
    line-height: 75%;
    /* or 80px */
    text-align: center;
    text-transform: uppercase;
  }
}
.ads span {
  color: #FFEE2E;
}

.onlineLink {
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-transform: uppercase;
  border: none;
  position: absolute;
  width: 298px;
  height: 54px;
  left: calc(50% - 149px + 332px);
  top: 626px;
  /* orange */
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 25px;
}

.onlineLink:hover {
  background: linear-gradient(113.96deg, #fa7b44 1.49%, #ff8d0b 101.44%);
  border-radius: 25px;
  cursor: pointer;
}

.cap {
  position: absolute;
  display: inline-flex;
  flex-direction: row;
  height: 403px;
  left: 219px;
  right: 220px;
  top: 920px;
}
.cap div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 465px;
  margin-left: 85px;
}
.cap .str1 {
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
}
.cap .str2 {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}
.cap .str3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
}
.cap .str4 {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
}

.flower {
  position: absolute;
  width: 208px;
  height: 605px;
  left: 1396px;
  top: 792px;
  background: url(/online-zoo/online-zoo/assets/images/flower_foto1.png);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

#choice {
  display: grid;
  grid-template: repeat(2, 366px)/repeat(3, 366px);
  justify-content: space-between;
  grid-gap: 80px 30px;
  position: absolute;
  width: 1158px;
  height: 872px;
  left: calc(50% - 579px - 1px);
  top: 1500px;
  margin-top: 3px;
  background: #FFFFFF;
}
#choice div {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 366px;
  height: 426px;
  border: #FE9013 1px solid;
  border-radius: 5px;
}
#choice div span {
  position: absolute;
  left: 15px;
  bottom: 10px;
  font-size: 15px;
  line-height: 140%;
}
#choice div .bigT {
  bottom: 25px;
  font-weight: 600;
  font-size: 15px;
  line-height: 170%;
  text-transform: uppercase;
}
#choice div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
#choice div .eat {
  position: absolute;
  right: 10px;
  bottom: 13px;
}
#choice div .minMeet {
  width: 48px;
  height: 38px;
}
#choice div .minBanana {
  width: 33px;
  height: 37px;
}

.arrow {
  width: 62px;
  height: 62px;
  background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border-radius: 50%;
}
.arrow img {
  display: block;
  margin: 26px auto auto;
}

.rig {
  position: absolute;
  right: 140px;
  top: 1906px;
}

.lef {
  position: absolute;
  left: 138px;
  top: 1906px;
}

.chButton {
  position: absolute;
  width: 298px;
  height: 54px;
  left: calc(50% - 149px);
  top: 2455px;
  background: #FE9013;
  border: none;
  border-radius: 25px;
  font-weight: 500;
  font-size: 15px;
  line-height: 140%;
  text-transform: uppercase;
}

.palm {
  position: absolute;
  width: 290px;
  height: 460px;
  top: 2149px;
}

.strel {
  position: absolute;
  width: 368px;
  height: 275px;
  right: 0;
  top: 2334px;
}

.pic {
  position: relative;
  top: 2609px;
  width: 100%;
  height: 1004px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
  opacity: 0.9;
}
.pic div {
  position: absolute;
  height: 835px;
  left: 220px;
  right: 220px;
  top: 69px;
  background: rgba(253, 253, 255, 0.52);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  border-radius: 20px;
}
.pic div .pff {
  position: absolute;
  width: 465px;
  height: 58px;
  left: calc(50% - 231.5px + 1.5px);
  top: 42px;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #FE9013;
}
.pic div .we {
  position: absolute;
  width: 852px;
  height: 29px;
  left: calc(50% - 422px - 59px);
  top: 131px;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333B41;
}
.pic div .during {
  position: absolute;
  width: 1061px;
  height: 21px;
  left: calc(50% - 530.5px + 49.5px);
  top: 200px;
}
.pic div .even {
  position: absolute;
  width: 863px;
  height: 42px;
  left: calc(50% - 431.5px - 49.5px);
  top: 232px;
  font-size: 0.98rem;
}
.pic div .how {
  position: absolute;
  width: 209px;
  height: 47px;
  left: calc(50% - 104.5px - 0.5px);
  top: 332px;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
}/*# sourceMappingURL=output.css.map */